@model bkfc.Models.Payment
@{
    ViewData["Title"] = "Make Payment";
    var cart = (List<Item>)ViewData["cart"];
    var payURL = ViewData["payURL"];
}
@{
    double balanceCharge = 0;
    foreach(Item item in cart) {
        balanceCharge += item.food.Price * item.quantity;
    } 
}
<h1 class="text-center">Make Payment</h1>
<p class="my-3 lead">
    You are making payment for the order you has just made
</p>

<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @foreach (Item item in cart) {
            <tr>
                <th scope="row">@i</th>
                @{i++;}
                <td>@item.food.Name</td>
                <td>@item.quantity</td>
                <td><span class="vnMoney">@item.food.Price</span></td>
            </tr>
        }
    </tbody>
    
</table>
<hr>
<div class="d-flex justify-content-end">
    <span class="font-weight-bold"> Total: &nbsp </span>
    <span class="vnMoney"> @balanceCharge</span>
</div>

<a href=@payURL class="btn btn-primary btn-lg btn-block">Proceed</a>
@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="BalanceCharge" class="control-label"></label>
                <input asp-for="BalanceCharge" class="form-control" value="@balanceCharge" disabled="true"/>
                <span asp-validation-for="BalanceCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Proceed " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
