@model IEnumerable<bkfc.Models.Payment>

@{
    ViewData["Title"] = "Payment history";
}

<h1>Payment history</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                <p class="text-right mb-0">@Html.DisplayNameFor(model => model.BalanceCharge)</p>
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <p class="vnMoney text-right mb-0">@Html.DisplayFor(modelItem => item.BalanceCharge)</p>
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
