@model IEnumerable<bkfc.Models.MyOrderFood>

@{
    ViewData["Title"] = "My Orders";
    ViewData["css"] = "profile.css";
    string typeDate = (string)ViewData["typeDate"];
}

<h1 style="text-align: center;">My Orders</h1>

@* @if (User.Identity.IsAuthenticated && (User.IsInRole("FoodCourtManager")))
{    
<p>
    <a asp-action="UpdateOrderStatus" class="btn btn-primary">Update order's status</a>
</p>
} *@
@functions{
    void renderOrder(MyOrderFood item){
        <div class="d-flex flex-row d-flex justify-content-between align-items-center">
            <div class="order-number ml-3">Order #@item.Id</div>
            <div class="order-status mr-3">@item.Status</div>
        </div>
        <div class="text-muted text-center">@item.Date</div>
        int i =1;
        
        @foreach (var food in item.Foods)
        {
        <div class = "food-management d-flex flex-row align-items-center" >
            <div class = "food-management-information">
                <a>
                    <img src=@food.Image class="image-food">
                </a>
                
            </div>
            <div class="food-information d-flex flex-column ml-3">
                <div>Food order number: @i @{i++;}</div>
                <div>Food name: @food.Name</div>
                <div>Quantity: @food.Amount</div>
            </div>
        </div>    
        } 
        return;
    }
}
<form asp-action="Index" method="GET">
<select class="custom-select mb-2" id="DaySelect" onchange="this.form.submit()" name="typeDate">
    <option value="ToDay">Today</option>
    <option value="7Day">7 days ago</option>
    <option value="All">All</option>
</select>
</form>
<div id="list-order">
@foreach (var item in Model.Reverse())
{
    <div class="order py-2">
    @{renderOrder(item);}
    </div>
}
</div>
@section Scripts{
    <script>
        function setSelectedIndex(s, v) {
            for ( var i = 0; i < s.options.length; i++ ) {
                if ( s.options[i].value == v ) {
                    s.options[i].selected = true;
                    return;
                }
            }
        }
        $(".order-status").each(function(){
            if ($(this).text()=="To Receive"){
                $(this)[0].classList.add("text-success");
            }
            if ($(this).text()=="Cancelled"){
                $(this)[0].classList.add("text-danger");
            }
            if ($(this).text() == "Cooking"){
                $(this)[0].classList.add("text-warning");
            }      
        });
        var t = "@typeDate";
        setSelectedIndex(document.getElementById("DaySelect"),t);
    </script>

}