@model IEnumerable<bkfc.Models.MyOrderFood>

@{
    ViewData["Title"] = "My Orders";
    ViewData["css"] = "profile.css";
}

<h1 style="text-align: center;">My Orders</h1>

@if (User.Identity.IsAuthenticated && (!User.IsInRole("User")))
{    
<p>
    <a asp-action="UpdateOrderStatus" class="btn btn-primary">Update order's status</a>
</p>
}
@functions{
    void renderOrder(MyOrderFood item){
        <div class="d-flex flex-row d-flex justify-content-between align-items-center">
            <div class="order-number ml-3">Order #@item.Id</div>
            <div class="text-muted">@item.Date</div>
            <div class="order-status mr-3">@item.Status</div>
        </div>
        int i =1;
        
        @foreach (var food in item.Foods)
        {
        <div class = "food-management d-flex flex-row align-items-center" >
            <div class = "food-management-information">
                <a>
                    <img src=@food.Image class="image-food">
                </a>
                
            </div>
            <div class="food-information d-flex flex-column ml-3">
                <div>Food order number: @i @{i++;}</div>
                <div>Food name: @food.Name</div>
                <div>Quantity: @food.Amount</div>
            </div>
        </div>    
        } 
        return;
    }
}
<select class="custom-select mb-2" id="DaySelect" onchange="renderOrder(this)">
    <option value="ToDay">Today</option>
    <option value="7Day">7 days ago</option>
    <option value="All">All</option>
</select>
<div id="list-order">
@foreach (var item in Model.Reverse())
{
    TimeSpan timeDifference = DateTime.Now.Subtract(item.Date);
    <div class="order py-2 @(timeDifference.Days==0? "order-0":"") @(timeDifference.Days<7? "order-7": "")" @(timeDifference.Days!=0? "hidden":"")>
    @{renderOrder(item);}
    </div>
}
</div>
@section Scripts{
    <script>
        $(".order-status").each(function(){
            if ($(this).text()=="To Receive"){
                $(this)[0].classList.add("text-success");
            }
            if ($(this).text()=="Cancelled"){
                $(this)[0].classList.add("text-danger");
            }            
        });
        function renderOrder(DaySelect){
            var value = DaySelect.value;
            if (value=="ToDay"){
                $('.order').each(function(){
                    $(this)[0].hidden=true;
                })
                $('.order-0').each(function(){
                    $(this)[0].hidden=false;
                })
            }
            else if (value=="7Day"){
                $('.order').each(function(){
                    $(this)[0].hidden=true;
                })
                $('.order-7').each(function(){
                    $(this)[0].hidden=false;
                })
            }
            else if (value=="All"){
                $('.order').each(function(){
                    $(this)[0].hidden=false;
                })
            }
        }
    </script>

}