@model IEnumerable<bkfc.Models.MyOrderFood>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Update order's Status";
    ViewData["css"] = "profile.css";
    string typeDate = (string)ViewData["typeDate"];
}

<h1 style="text-align: center;">Update Order Status</h1>

@functions{
    void renderOrder(MyOrderFood item){
        <div class="d-flex flex-row d-flex justify-content-between align-items-center">
            <div class="order-number ml-3">Order #@item.Id</div>
            <div class="order-status mr-3">@item.Status</div>
        </div>
        <div class="text-muted text-center">@item.Date</div>        
        int i=1;
        @foreach (var food in item.Foods)
        {
        <div class = "food-management d-flex flex-row align-items-center" >
            <div class = "food-management-information">
                <a>
                    <img src=@food.Image class="image-food">
                </a>
                
            </div>
            <div class="food-information d-flex flex-column ml-3">
                <div>Number: @i @{i++;}</div>
                <div>Food name: @food.Name</div>
                <div>Quantity: @food.Amount</div>
            </div>
        </div>    
        } 
        return;
    }
}
<form asp-action="UpdateOrderStatus" method="GET">
<select class="custom-select mb-2" id="DaySelect" onchange="this.form.submit()" name="typeDate">
    <option value="ToDay">Today</option>
    <option value="7Day">7 days ago</option>
    <option value="All">All</option>
</select>
</form>
@foreach (var item in Model.Reverse())
{
    
    <div class="order py-2">
    @{renderOrder(item);}
    <form method="POST" class="form-row">
        <input type="text" name="orderId" value=@item.Id hidden>
        <input type="text" name="typeDate" value=@typeDate hidden>
        <div class="col">
            <select class="custom-select" id="inputGroupSelect01" name="status">
                @if(item.Status=="To Receive")
                {<option value="Completed" selected>Completed</option>
                <option value="To Receive">To Receive</option>}
                else if(item.Status=="Cooking")
                {<option value="Completed">Completed</option>
                <option value="To Receive" selected>To Receive</option>}
                <option value="Cancelled">Cancelled</option>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Update status</button>
        </div>
        
    </form>
    </div>    
}

@section Scripts{
    <script>
        function setSelectedIndex(s, v) {
            for ( var i = 0; i < s.options.length; i++ ) {
                if ( s.options[i].value == v ) {
                    s.options[i].selected = true;
                    return;
                }
            }
        }
        $(".order-status").each(function(){
            if ($(this).text()=="To Receive"){
                $(this)[0].classList.add("text-success");
            }
            if ($(this).text()=="Cancelled"){
                $(this)[0].classList.add("text-danger");
            }
            if ($(this).text() == "Cooking"){
                $(this)[0].classList.add("text-warning");
            }      
        });

        function renderOrder(DaySelect){
            var value = DaySelect.value;
            if (value=="ToDay"){
                $('.order').each(function(){
                    $(this)[0].hidden=true;
                })
                $('.order-0').each(function(){
                    $(this)[0].hidden=false;
                })
            }
            else if (value=="7Day"){
                $('.order').each(function(){
                    $(this)[0].hidden=true;
                })
                $('.order-7').each(function(){
                    $(this)[0].hidden=false;
                })
            }
            else if (value=="All"){
                $('.order').each(function(){
                    $(this)[0].hidden=false;
                })
            }
        }
        var t = "@typeDate";
        setSelectedIndex(document.getElementById("DaySelect"),t);
    </script>

}
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-messaging.js"></script>
<script type="text/javascript">
    function connectToFirebase() {
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAp3HuLnXMr4WTBrUDLIrpZUVl2YukJwT0",
            authDomain: "bkfc-9fc2a.firebaseapp.com",
            databaseURL: "https://bkfc-9fc2a.firebaseio.com",
            projectId: "bkfc-9fc2a",
            storageBucket: "bkfc-9fc2a.appspot.com",
            messagingSenderId: "485655542037",
            appId: "1:485655542037:web:ebf07e068e73e474f9d11c",
            measurementId: "G-6S5PN104SN"
        };
        // Initialize Firebase
        if (!firebase.apps.length) {
            firebase.initializeApp(firebaseConfig);
        }
        const messaging = firebase.messaging();
        messaging.usePublicVapidKey("BHJMFC6prqgO94hirMHAlubfSFnn7PRmyzC-wTxoM87yESwzhA4zXeCYaI_4kNLZbIW4DMZlIef59uXfk-mnR_M");
        messaging.getToken().then
            (
                (currentToken) =>
                {
                    if (currentToken) {
                        $.ajax
                            (
                                {
                                    type: "POST",
                                    url: 'setToken',
                                    data: { id: currentToken }
                                }
                            ).done
                            (
                                function () {
                                    console.log('Join to cook room successfully');
                                }
                            );
                    }
                }
        )
        messaging.onMessage((payload) => {
            alert("New order has come. Please reload the page");
            console.log('Message received. ', payload);
        });
    }
    window.onload = connectToFirebase;
</script>