@model bkfc.Models.ReportView

@{
    ViewData["Title"] = "Report";
    ViewData["css"] = "profile.css";
    var listVendor = (List<Vendor>)ViewData["listVendor"];
}

<h1>Report</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<form method="POST">
    @if(User.IsInRole("Admin")){
        <div class="form-group">
        <select id="vendorId" class="form-control" name="VendorId">
            <option value="-1">Whole food court</option>
            @foreach (var vendor in listVendor)
            {
                <option value="@vendor.Id">@vendor.Name</option>
            }
        </select>
        </div>
    }
    <div class="form-group row">
        <div class="col">
        <select id="day-select" class="form-control">
            <option value="Today">Today</option>
            <option value="Yesterday">Yesterday</option>
            <option value="ThisMonth">ThisMonth</option>
            <option value="LastMonth">LastMonth</option>
            <option value="Custom">Custom</option>    
        </select>
        </div>
        <div class="col">
            <button class="btn btn-primary btn-block" type="submit">View Report</button>
        </div>
    </div>
    <div id="custom-day" class="form-group row" style="display: none;">
        <div class="col-6">
            <label class="control-label" >From</label>
            <input id="dateFrom" type="date" name="dateFrom" class="col-auto" style="width: 100%">
        </div>
        <div class="col-6">
            <label class="control-label" >To</label>
            <input id="dateTo" type="date" name="dateTo" class="col-auto" style="width: 100%">
        </div>
    </div>

</form>
<hr>
@if(Model != null){
    <h2 class="text-center">Report @Model.dayStartString - @Model.dayEndString</h2>
    var fulltotal =0.0;
    @foreach(var report in Model.reports){
        @if (report.listFood.Count >0){
            var total = 0.0;
            <h3>@report.vendorName</h3>
            <table class="table table-striped">
                <thead> 
                    <tr>
                        <th>
                            Food name
                        </th>
                        <th>
                            Sold
                        </th>
                        <th>
                            Price
                        </th> 
                    </tr>
                </thead>
                <tbody>
            @foreach (var food in report.listFood) {
                <tr>
                    <td class="col">
                        @food.Name
                    </td>
                    <td style="width:20px">
                        @food.Amount
                    </td>
                    <td style="width:200px">
                        @{var price = food.Amount*food.Price;}
                        <span class="vnMoney-withoutVND">@price</span>
                    </td> 
                </tr>
                total+=price;
            }
                </tbody>
            </table>
            <div class="text-right font-weight-bold vnMoney">@total</div>
            fulltotal+=total;
        }
    }
    
    @if(Model.reports.Count>1){
        <hr>
        <div class="text-right vnMoney font-weight-bold" style="font-size: 20px;">@fulltotal</div>
    }
}
else{
    <p class="lead text-center"> Click View Report button to view your report. </p>
}
@section Scripts{
    <script>
        today = new Date()
        dayInput = dateToInputType(today);
        $('#dateTo').val(dayInput);
        $('#dateFrom').val(dayInput);
        $('#day-select').on('change',function(){
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            switch(valueSelected){
                case "Today":
                    today = new Date()
                    dayInput = dateToInputType(today);
                    $('#dateTo').val(dayInput);
                    $('#dateFrom').val(dayInput);
                    $('#custom-day').hide();
                    break;
                case "Yesterday":
                    var day = new Date(new Date().setDate(new Date().getDate()-1));
                    dayInput = dateToInputType(day);
                    $('#dateTo').val(dayInput);
                    $('#dateFrom').val(dayInput);
                    $('#custom-day').hide();
                    break;
                case "ThisMonth":
                    today = new Date()
                    fromday = new Date(new Date().setDate(1));
                    todayInput = dateToInputType(today);
                    fromdayInput = dateToInputType(fromday);
                    $('#dateTo').val(todayInput);
                    $('#dateFrom').val(fromdayInput);
                    $('#custom-day').hide();
                    break;
                case "LastMonth":
                    today = new Date(new Date().setDate(0));
                    fromday = new Date(new Date(new Date().setDate(0)).setDate(1));
                    todayInput = dateToInputType(today);
                    fromdayInput = dateToInputType(fromday);
                    $('#dateTo').val(todayInput);
                    $('#dateFrom').val(fromdayInput);
                    $('#custom-day').hide();
                    break;
                case "Custom":
                    $('#custom-day').show();
                    break;
            }
        })
        function dateToInputType(date){
            var dd = date.getDate();
            var mm = date.getMonth()+1; //January is 0!

            var yyyy = date.getFullYear();
            if(dd<10){dd='0'+dd} 
            if(mm<10){mm='0'+mm} 
            inputtype = yyyy+'-'+mm+'-'+dd;
            return inputtype
        }
    </script>
    
}
