@* @model bkfc.Models.Vendor *@
@model List<bkfc.Models.Food>

@{
    var vendor = (bkfc.Models.Vendor)ViewData["vendor"];
}

@{
    ViewData["Title"] = "Details";
    ViewData["css"] = "profile.css";
}
<div class="header-profile">
  <img class="logo" src= ViewData["vendor"].Logo>
  <div class="profile-title">
    <h1>@Html.DisplayFor(model => model[0].Name)</h1>
  </div>
</div>


<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[0].Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[0].Name)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[0].Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[0].Logo)
        </dd> *@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[0].FoodList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[0].FoodList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[0].Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[0].Categories)
        </dd> *@
    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@model[0].Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@model[0].Id">Delete</a> | *@
    <a asp-action="Index">Back to List</a>
</div>
