@model bkfc.Models.Vendor

@{
    ViewData["Title"] = "Details";
    ViewData["css"] = "profile.css";
}
<div class="header-profile">
  <img class="logo" src= @Model.Logo >
  <div class="profile-title">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
  </div>
</div>


<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
