@* @model IEnumerable<bkfc.Models.Order> *@

@{
    ViewData["Title"] = "Order status";
    ViewData["css"] = "profile.css";
    var cart = (List<Item>)ViewData["cart"];

}

<h1 style="text-align: center;">My Cart</h1>
@if(cart != null)
{
    @foreach(Item item in cart)
    {
        <div class="container px-0 my-4 d-flex justify-content-between align-items-center border">
            <img style="width: 120px; height: 90px; object-fit: cover;" src=@item.food.Image >
            <div class="text-left d-flex flex-column justify-content-around" style="width: 150px;height: 90px; margin-left:10px;">
                <h5>@item.food.Name</h5>
                <div class="d-flex justify-content-left">
                    <button class="btn btn-primary" type="button" name="button">
                    +
                    </button>
                    <input type="text" id="quantity" class="quantity" value=@item.quantity size="2">
                    <button class="btn btn-danger" type="button" name="button">
                    -
                    </button>
                </div>
            </div>
            <div class="price">@item.food.Price VND</div>
            @* <button class="btn btn-link text-danger"><i class="far fa-trash-alt"></i></button>         *@
        </div>

        
    }
}
@* foreach(Item item in cart)
{
        <li>@item.food.Name (@item.quantity) </li>

} *@
@* <table class="table">
    <thead>
        <tr>
            <th>
                Food name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price each product
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (Item item in cart) {
        <tr>
            <td>
                @item.food.Name
            </td>
            <td>
                @item.quantity
            </td>
            <td>
                @item.food.Price
            </td>

        </tr>
}
    </tbody>
</table> *@
